CURSEDUCA_API_KEY=
ACCESS_TOKEN=
GOOGLE_SHEETS_CREDENTIALS=
GOOGLE_SHEET_ID=

# Webhook Prosperus Club App
VITE_PROSPERUS_WEBHOOK_URL=
VITE_PROSPERUS_WEBHOOK_SECRET=
PROSPERUS_WEBHOOK_URL=https://ptvsctwwonvirdwprugv.supabase.co/functions/v1/receive-report
PROSPERUS_WEBHOOK_SECRET=
